{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<img src="../static/img/src/img_11.png" height="180" width="460"/>
<div style="display: flex; flex-direction: column; align-items: center;">
   <h3>Цей веб-сайт створений для того, щоб:</h3>
   <dl>
      <dd style="font-size: 1.1em;">1. Create post about Flask</dd>
      <dd style="font-size: 1.1em;">2.Read post about flask</dd>
      <dd style="font-size: 1.1em;">3.Read the documentation about flask</dd>
   </dl>
 <img src="../static/img/src/img_12.png" height="555" width="990"/></div>

{% endblock %}




